    body {
    background-color: aliceblue;
    }

    #leaderboard-link{
        color: black;
        text-align: center;
    }

    #question {
        text-align: center;
    }
    
    #master-div {
        text-align: center;
    }

    #leaderboard-div{
        text-align: center;
    }

    #leaderboardTable{
        text-align: center;
    }
    
    #buttonDiv{
        text-align: center;
    }

    #startBtn{
        text-align: center;
    }

    #score{
        margin: 15px 15px 15px 15px;
    }
    
    #input-field {
        margin-right: 15px;
        margin-left: 15px;
    }
    
  
    